body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-height: 100vh;
}
main {
    background-color: rgb(14, 14, 14);
    max-width: 56rem;
    width: 100%;
    padding: 1rem;
}
.card-row {
    background-color: rgb(30, 30, 30);
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.hero-content {
    /* margin: 0 auto; */
    width: 75ch;
}
.hero-container {
    justify-content: center;
}
.card {
    min-width: 18rem;
    flex: 1;
    padding: 1rem;
}
.card img {
    width: 100%;
}
h3 {
    font-style: italic;
    color: rgb(163, 145, 133);
}
