body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-height: 100vh;
    background-color: rgb(2, 2, 18);
}
main {
    max-width: 56rem;
    width: 100%;
    padding: 1rem;
}
.card-row {
    background-color: rgb(102, 99, 116);
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
    gap: 0.5rem;
}
.hero-content {
    /* margin: 0 auto; */
    width: 75ch;
}
.hero-container {
    justify-content: center;
}
.card {
    min-width: 18rem;
    flex: 0.5;
    padding: 0rem;
}
.card img {
    width: 100%;
    aspect-ratio: 1.5 / 2;
    object-fit: cover;
}
h3 {
    font-style: italic;
    color: rgb(204, 204, 204);
}
h2 {
    color: rgb(204, 204, 204);
    text-align: center;
}
h4 {
    color: rgb(204, 204, 204);
    text-align: left;
}

